/* stylelint-disable docusaurus/copyright-header */
/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #f5a300;
  --ifm-color-primary-dark: rgb(236, 149, 0);
  --ifm-color-primary-darker: rgb(231, 138, 0);
  --ifm-color-primary-darkest: rgb(239, 126, 0);
  --ifm-color-primary-light: rgb(255, 191, 0);
  --ifm-color-primary-lighter: rgb(255, 212, 0);
  --ifm-color-primary-lightest: rgb(245, 187, 91);
  --ifm-code-font-size: 95%;
}

.docusaurus-highlight-code-line {
  background-color: rgb(72, 77, 91);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

/* Indent Formatting */
/* Format: A-I-1-a-i-greek */
ol {
  list-style-type: upper-alpha;
}
ol ol { list-style-type: upper-roman;}
ol ol ol { list-style-type: decimal;}
ol ol ol ol { list-style-type: lower-alpha;}
ol ol ol ol ol { list-style-type: lower-roman;}
ol ol ol ol ol ol { list-style-type: lower-greek;}
/* https://www.w3schools.com/cssref/pr_list-style-type.asp */
/* https://stackoverflow.com/questions/11445453/css-set-li-indent */
/* https://stackoverflow.com/questions/13366820/how-do-you-make-lettered-lists-using-markdown */

ol > li {
  font-weight: bold;
}

ol li > *:not(:first-child) {
  font-weight: normal;
}


li > p {
  margin-bottom: 1em;
}

li > p:first-child {
  margin-top: 1em;
}

blockquote {
  padding-bottom: 0.6em;
  padding-top: 0.6em;
  color: revert;
}
